#logout {
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#home {
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#admin {
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#delete {
  margin-top: 10px;
  margin-bottom: 10px;
}
