<div class="container-fluid">
  <h1>Profile</h1>

  <input [(ngModel)]="user.username"
         placeholder="username"
         class="form-control"/>
  <input [(ngModel)]="user.firstName"
         placeholder="first name"
         class="form-control"/>
  <input [(ngModel)]="user.lastName"
         placeholder="lastName"
         class="form-control"/>
  <input [(ngModel)]="user.phone"
         placeholder="phone"
         class="form-control"/>
  <input [(ngModel)]="user.email"
         placeholder="email"
         class="form-control"/>
  <input [(ngModel)]="user.address"
         placeholder="address"
         class="form-control"/>
  <button (click)="update()"
          class="btn btn-primary btn-block">
    Update
  </button>

  <h2>Enrolled Courses ({{enrolledCourses.length}})</h2>
  <!--<div class="row">-->
    <!--<div *ngFor="let course of enrolledCourses" class="col-sm-3">-->
      <!--<div class="card">-->
        <!--<div class="card-body">-->
          <!--<h5 class="card-title">{{course.title}}</h5>-->
          <!--<a routerLink="/course/{{course.id}}"-->
             <!--class="btn btn-primary">View</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <ul class="list-group">
    <li *ngFor="let course of enrolledCourses" class="list-group-item">
      <strong>{{course.title}}</strong>
      <a routerLink="/course/{{course.id}}"
         class="btn btn-primary float-right">View</a>
    </li>
  </ul>

  <h2>Sections ({{sections.length}})</h2>

  <ul class="list-group">
    <li *ngFor="let enrollment of sections" class="list-group-item">
      {{enrollment.section.name}}
      ({{enrollment.section.seats}})
      <button (click)="unEnroll(userId, enrollment.section._id)"
              class="btn btn-warning float-right">Un-enroll
      </button>
    </li>
  </ul>

  <a (click)="logout()">Logout</a>
  <a routerLink="/home">Home</a>
  <a *ngIf="user.username === 'admin' && user.password === 'admin'" routerLink="/admin">Admin</a>
  <button (click)="delete()" class="btn btn-danger">Delete Profile</button>

</div>
