<div class="container-fluid">
  <h1>Profile</h1>

  <input [(ngModel)]="user.username"
         placeholder="username"
         class="form-control"
         readonly/>
  <input [(ngModel)]="user.firstName"
         placeholder="first name"
         class="form-control"/>
  <input [(ngModel)]="user.lastName"
         placeholder="lastName"
         class="form-control"/>
  <input [(ngModel)]="user.phone"
         placeholder="phone"
         class="form-control"/>
  <input [(ngModel)]="user.email"
         placeholder="email"
         class="form-control"/>
  <input [(ngModel)]="user.address"
         placeholder="address"
         class="form-control"/>
  <button (click)="update()"
          class="btn btn-primary btn-block">
    Update
  </button>

  <hr class="my-3">

  <h2>Enrolled Courses ({{enrolledCourses.length}})</h2>

  <ul class="list-group">
    <li *ngFor="let course of enrolledCourses" class="list-group-item">
      <strong>{{course.title}}</strong>
      <a routerLink="/course/{{course.id}}"
         class="btn btn-primary float-right">View</a>
    </li>
  </ul>
  <hr class="my-3">

  <h2>Sections ({{sections.length}})</h2>

  <ul class="list-group">
    <li *ngFor="let enrollment of sections" class="list-group-item">
     <span> {{enrollment.section.name}}
      ({{enrollment.section.seats}})
      | Grade: {{enrollment.grade}}</span>
      <button (click)="unEnroll(userId, enrollment.section._id)"
              class="btn btn-outline-danger float-right">Un-Enroll
      </button>
    </li>
  </ul>

  <a id="logout" class="btn btn-warning" (click)="logout()">Logout</a>
  <a id="home" class="btn btn-primary" routerLink="/home">Home</a>
  <a id="admin" *ngIf="user.username === 'admin' && user.password === 'admin'"
     routerLink="/admin"
     class="btn btn-dark">Admin</a>
  <button id="delete" (click)="delete()" class="btn btn-danger">Delete Profile</button>

</div>
