<div class="container-fluid">
  <h1>
    White Board
  </h1>

  <a routerLink="/login">Login</a>
  <a routerLink="/register">Register</a>
  <a *ngIf="userId" routerLink="/profile">Profile</a>
  <!--<a routerLink="/quizzes">Quizzes</a>-->

  <h4 *ngIf="userId">Logged in as : {{user.username}}</h4>

  <h3>Enrolled Courses</h3>

  <ul class="list-group">
    <li *ngFor="let course of enrolledCourses" class="list-group-item">
      <strong>{{course.title}}</strong>
      <a routerLink="/course/{{course.id}}"
         class="btn btn-primary float-right">View</a>
    </li>
  </ul>

  <app-course-grid></app-course-grid>
</div>
